<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <span>Microphone</span>

        <div class="control-audio-wrapper">
            <div id="audio" class="audio-control">&#127908;</div>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="socket.io-stream.min.js"></script> -->
    <script src="script.js"></script>
    <!-- <script src="vosk.min.js"></script> -->
</body>

</html>